.cabecalho-adm {
    width: 100%;
    height: auto;
    background-color: #fff !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .cba-esquerda,
        .cba-meio,
        .cba-direita {
            width: 33.33%;
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cba-meio img {
            width: 60%;
        }

        .cba-direita img {
            width: 25%;
        }
    }

    .cba-linha {
        border: 1px solid #B88B1B;
        margin-top: 10px;
        animation: CresceDiminui 3s linear infinite;
    }
}



@keyframes CresceDiminui {
    0%, 100% {
        width: 70%;
    }

    50% {
        width: 20%;
    }
}