.cabecalho-adm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #fff !important;
}

.cba-cima {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    flex-wrap: wrap;
    background-color: #fff !important;
}

.cba-cima div {
    width: 13vw;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.cba-meio img {
    max-width: 115%;
    height: auto;
    margin-top: 10px;
    background-size: cover;
    margin-bottom: 20px;
}

.cba-direita img {
    max-width: 50%;
    height: auto;
}

@media (max-width: 768px) {
    .cba-cima div {
        max-width: 100%;
    }

    .cba-meio img {
        max-width: 180%;
    }

    .cba-direita img {
        max-width: 60%;
    }
}

@media (max-width: 580px) {
    .cba-meio img {
        max-width: 240%;
    }
}

.cba-linha {
    border: 1px solid #B88B1B;
    margin-top: 10px;
    animation: CresceDiminui 13s linear infinite;
}

@keyframes CresceDiminui {
    0%, 100% {
        width: 50%;
    }

    50% {
        width: 20%;
    }
}