.cadastro01{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    height: 170vh;
}

.cabecalho-cadastro{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .cabecalho-cadastro img{
    width: auto;
    height: 30vh;
    cursor: pointer;
  }

  .cadastro-0 {
    position: relative;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 130vh;
    border-radius: 35px;
    margin-top: 220px;
    margin-left: 10%;
    animation: iniciar 4s ease-out;
    pointer-events: all;

  }

  .cadastro-0::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    animation: lightPulse 2s linear infinite;
  }

  @keyframes lightPulse {
    0% {
      box-shadow: 0 0 20px rgb(255, 255, 255);
    }
    50% {
      box-shadow: 0 0 40px rgb(255, 255, 255);
    }
    100% {
      box-shadow: 0 0 20px  rgb(255, 255, 255);
    }
  }


  @keyframes iniciar {
    0% {
      top: -20%;
      opacity: 0;
      pointer-events: none;
    }
    100% {
      top: 0.1%;
      opacity: 100%;
      pointer-events: all;
    }
  }
  
  .cadastro-s1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .cadastro-s1 img{
    width: auto;
    height: 15vh;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .cadastro-s2{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .cadastro-s2 h4{
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .cadastro-s2 input{
    width: 30vw;
    height: 5vh;
    font-size: 20px;
    font-family: Allerta;
    margin-bottom: 25px;
    outline: none;
    border: none;
    color: #D1C9C9;
    background-color: #fff;
    box-shadow: 2px 2px 5px #000000;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .jump-button{
    background-color: #CF6300;
    border: none;
    color: #fff;
    width: 10vw;
    height: 6vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    font:22px 'Allerta'
  }
  


 //tablet//
 @media (max-width: 800px){
  .cadastro01{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 210vh;
  }

  .cadastro-0{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 130vh;
    border-radius: 35px;
    margin-top: 20px;
    margin-left: -2%;
  }

 }



 //celular//

 @media (max-width: 415px){
  .cadastro01{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    height: 170vh;
}


  .cadastro-0{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 130vh;
    border-radius: 35px;
    margin-top: 20px;
    margin-left: -2%;
  }

  .cadastro-s2 input{
    width: 50vw;
    height: 5vh;
    font-size: 20px;
    font-family: Allerta;
    margin-bottom: 25px;
  
    border: none;
    color: #D1C9C9;
    background-color: #fff;
    box-shadow: 2px 2px 5px #000000;
    border-radius: 5px;
    cursor: pointer;
  }

  .jump-button{
    background-color: #CF6300;
    border: none;
    color: #fff;
    width: 20vw;
    height: 6vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
  }
  
 }