
.login01{
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
  height: 140vh;
}

.cabecalho-login{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.cabecalho-login img{
  width: auto;
  height: 30vh;
  cursor: pointer;
}

.login{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 100vh;
  border-radius: 35px;
  margin-top: 200px;
  margin-left: 10%;
  animation: iniciar 4s ease-out;
  pointer-events: all;
  position: relative;


  @keyframes iniciar{
    0%{
        top: -20%;
        opacity: 0;
        pointer-events: none;
  }

    100%{
        top: 0.1%;
        opacity: 100%;
        pointer-events: all;
    }
  }
}

.login-s1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


.login-s1 img{
  width: auto;
  height: 15vh;
  margin-top: 20px;
  cursor: pointer;
}

.login-s2{
  display: flex;
 
  flex-direction: column;
  margin-top: 10px;

  a:-webkit-any-link {
    text-align: center;
    margin-top: 10px;
    color:#0038FF
  }

  h4 {
    text-align: center;
  }
}

.login-s2 h4{
  margin-bottom: 10px;
  cursor: pointer;
}

.login-s2 input{
  width: 30vw;
  height: 5vh;
  font-size: 20px;
  font-family: Allerta;
  margin-bottom: 25px;
  outline: none;
  border: none;
  color: #858585;
  background-color: #fff;
  box-shadow: 2px 2px 5px #000000;
  border-radius: 5px;
}


.login-s2 .bt-log{
  background-color: #CF6300;
  border: none;
  color: #fff;
}


.login-s2 .s3-login{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
  
.login-s2 button{
  background-color: #0D3D98;
  width: 30vw;
  height: 6vh;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-family: Allerta;
  border: none;
  margin-bottom: 30px;
  
}

button img{
  height: 4vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
}













//celular//
@media (max-width: 415px){


  .login01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170vh;
  }

  .cabecalho-login img{
    width: auto;
    height: 20vh;
    cursor: pointer;
  }

  .login{
    width: 70vw;
    height: 100vh;
    border-radius: 35px;
    margin-top: 20px;
    margin-left: 1%;
  }

  .login-s1 h2{
    font-size: 18px;
  }

  .login-s1 img{
    width: auto;
    height: 10vh;
    margin-top: 10px;
    cursor: pointer;
  }

  .login-s2 h4{
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 10PX;
  }
  
  .login-s2 input{
    width: 50vw;
    height: 5vh;
    font-size: 15px;
    font-family: Allerta;
    margin-bottom: 25px;
  
    border: none;
    color: #D1C9C9;
    background-color: #fff;
    box-shadow: 2px 2px 5px #000000;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-s2 .bt-log{
    background-color: #CF6300;
    border: none;
    color: #fff;
  }
  
  .bt-log:hover{
    animation: jump 1.4s infinite alternate;
  
      @keyframes jump {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-15px);
        }
      }
    }
  
  .login-s2 .s3-login{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
    
  .login-s2 button{
    background-color: #0D3D98;
    width:60vw;
    height: 6vh;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-family: Allerta;
    border: none;
    
  }
  
  button img{
    height: 4vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
  }
  
  button:hover{
    animation: jump 1.4s infinite alternate;
  
      @keyframes jump {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
}













//tablet//
@media (max-width: 800px){


  .login01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;
  }

  .cabecalho-login img{
    width: auto;
    height: 20vh;
    cursor: pointer;
    margin-bottom: 50px;
  }

  .login{
    width: 70vw;
    height: 100vh;
    border-radius: 35px;
    margin-top: 20px;
    margin-left: 1%;
  }

  .login-s1 h2{
    font-size: 18px;
  }

  .login-s1 img{
    width: auto;
    height: 10vh;
    margin-top: 10px;
    cursor: pointer;
  }

  .login-s2 h4{
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 10PX;
  }
  
  .login-s2 input{
    width: 50vw;
    height: 5vh;
    font-size: 15px;
    font-family: Allerta;
    margin-bottom: 25px;
  
    border: none;
    color: #D1C9C9;
    background-color: #fff;
    box-shadow: 2px 2px 5px #000000;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-s2 .bt-log{
    background-color: #CF6300;
    border: none;
    color: #fff;
  }
  
  .bt-log:hover{
    animation: jump 1.4s infinite alternate;
  
      @keyframes jump {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-15px);
        }
      }
    }
  
  .login-s2 .s3-login{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
    
  .login-s2 button{
    background-color: #0D3D98;
    width:50vw;
    height: 6vh;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-family: Allerta;
    border: none;
    
  }
  
  button img{
    height: 4vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
  }
  
  button:hover{
    animation: jump 1.4s infinite alternate;
  
      @keyframes jump {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
}




