
.pagina-cadastro-produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pc-cabecalho {
        width: 100%;
        max-width: 100%;
    }

    .pc-titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        width: 90%;
        max-width: 90%;
        border: none;
        text-align: center;
        background-color: #d9d9d9;
        border-radius: 4px;
        width: 100%;
        padding: 8px;
        font: 12px 'Allerta';
    }

    .pc-colocar-imagem {
        width: 30%;
        min-width: 30%;
        height: 60vh;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .escolher-imagem {
            width: 100%;
            height: 100%;
            margin: 10px;
            background-color: #e0dfdfd3;
            box-shadow: 3px 3px 9px #2d2d2d;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            overflow: hidden; 

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    #img-produto {
        visibility: hidden;
        position: absolute;
    }

    .imagem-selecionada {
        width: 100%;
        min-width: 100%;
        height: 100%;
        min-height: 100%;
    }

    main {
        width: 90%;
        max-width: 100%;
        height: auto;
        border: 1px solid rgb(78, 76, 76);
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.40);
        margin-top: 40px;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 25px;
        padding: 20px;

        .pc-valores {
            display: flex;
            flex-direction: column;
            width: 40%;
            height: 90%;
            margin-right: 50px;
            gap:25px;

            h5 {
                text-align: left;
                margin-top: 10px;
                padding-left: 8px;
                font:14px 'Allerta';
                font-weight: 600;
            }

            input {
                box-shadow:(0px -1px 16px rgba(0, 0, 0, 0.40));
                border: none;
                background-color: #fffcfc;
                outline: none;
                padding: 7px 20px;
                border-radius: 6px;
                margin-top: 10px;
            }

            textarea {
                box-shadow:(0px -1px 16px rgba(0, 0, 0, 0.40));
                border: none;
                background-color: #fffcfc;
                outline: none;
                padding: 7px 20px;
                border-radius: 6px;
                margin-top: 10px;
            }

            select {
                width: 13.3vw;
                min-width: 210px;
                max-width: 100%;
                border: none;
                box-shadow: 0px -1px 16px rgba(0, 0, 0, 0.40);
                border-radius: 7px;
                padding: 8px;
                font-size: 13px;
                font-family: 'Allerta';
                margin-top: 10px;
                outline: none;
            }
        }

        .pc-imagem {
            width: 26%;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div {
                border: 1px solid black;
                width: 100%;
                max-width: 100%;
                height: 20vw;
                max-height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;
                background-color: #edebeb;
                border-radius: 5px;

                h1 {
                    text-align: center;
                    font:60px 'Allerta';
                }
            }

            h5 {
                font:15px 'Allerta';
                text-align: center;
            }

            h6 {
                font:10px 'Allerta';
                text-align: center;
            }
        }

    }

    .pc-salvar-produto > button {
        background-color:#CF6300;
        color: #fff;
        border: none;
        padding: 8px;
        border-radius: 8px;
        width: 18%;
        max-width: 100%;
        min-width: 80%;
        margin-bottom: 40px;
        cursor: pointer;
        font:20px 'Alice';
        transition: background-color 0.6s ease-in-out 100ms;
    }
    
    .pc-salvar-produto > button:hover {
        background-color: #2d2d2d;
        transition: 1.5s ease-in-out;
    }




    
@media (max-width: 700px){
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;

        select {
            max-width: 160%;
        }
    }

    .pc-valores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pc-salvar-produto > button {
        font:13px 'Alice';
        width: 18vw;
        padding: 7px;
    }

    .pc-colocar-imagem {
        width: 90%;
        height: auto;
    
        .escolher-imagem {
          width: 100%;
          height: 50vh;
          border-radius: 8px;
        }
      }

}

}