.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    height: 35vh;
    width: 100%;
    margin-top: 30px;
    padding: 20px;

    hr {
        height: 30vh;
    }    

    .atendimento {
        display: flex;
        flex-direction: row;
        gap:15px;
        width: 33%;

        .rd-logo {
            width: 40%;
            margin-right: 50px;

            img {
                width: 20vw;
            }
        }

        .contatos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:15px;
            
            h2 {
                color:#fff;
                font: 25px 'Allerta';
            }

            h5 {
                color:#fff;
                font:15px 'Allerta';
            }

            .cntt-telefone {
                display: flex;
                flex-direction: row;
                gap:10px;
                justify-content: center;
                align-items: center;

                img {
                    width: 15%;
                }
            }

            .cntt-whats {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                
                img {
                    width: 27%;
                }
            }
        }

        .redes-sociais {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap:10px;

            img {
                width: 11%;
            }

            #tiktok {
                width: 25%;
                max-width: 100%;
            }
        }
    }

    .servicos {
        display: flex;
        flex-direction: column;
        width: 26%;
        height: 33vh;
        margin-top: 30px;

        h2 {
            color:#fff;
            text-align: center;
            font:25px 'Allerta';
        }

        nav {
            margin-top: 10px;

            h5 {
                color:#fff;
                font:14px 'Allerta';
                margin: 5px;
            }
        }
    }

    .minha-conta {
        display: flex;
        flex-direction: column;
        gap:20px;
        height: 29vh;
        width: 22%;

        h2 {
            color:#Fff;
            text-align: center;
            font:25px 'Allerta';
        }
        
        h5 {
            color:#fff;
            font:14px 'Allerta';
            margin: 5px;
        }
    }
}
