.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    width: 100%;
    height: 34vh;
    max-height: 100%;
    min-width: 100%;
    margin-top: 30px;


    hr {
        height: 30vh;
    }    

    .atendimento {
        display: flex;
        flex-direction: row;
        gap:15px;
        width: 33%;

        .rd-logo {
            width: 40%;
            margin-right: 50px;

            img {
                width: 20vw;
            }
        }

        .contatos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:15px;
            
            h2 {
                color:#fff;
                font: 20px 'Allerta';
                position: relative;
            }

            h5 {
                color:#fff;
                font:12px 'Allerta';
            }

            .cntt-telefone {
                display: flex;
                flex-direction: row;
                gap:10px;
                justify-content: center;
                align-items: center;

                img {
                    width: 15%;
                }
            }

            .cntt-whats {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                
                img {
                    width: 27%;
                }
            }
        }

        .redes-sociais {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap:10px;

            img {
                width: 11%;
                max-width: 100%;
            }

            #tiktok {
                width: 25%;
                max-width: 100%;
            }
        }
    }

    .servicos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 28%;        

        h2 {
            color:#fff;
            text-align: center;
            font:22px 'Allerta';
            position: relative;
        }

        nav {
            margin-top: 10px;
            width: 100%;

            h5 {
                color:#fff;
                font:13px 'Allerta';
                margin: 5px;
                text-align: left;
            }
        }
    }

    .minha-conta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 28%;
        height: 79%;
        gap:15px;

        h2 {
            color:#Fff;
            text-align: center;
            font:22px 'Allerta';
            position: relative;
        }
        
        nav {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            text-align: left;
            font:13px 'Allerta';
            gap:5px;
        }
    }

    a:-webkit-any-link {
        color:#fff !important;
        cursor: pointer;
        text-decoration:none;
    }

    @media(max-width: 997px){
        .rodape {
            flex-wrap: wrap;
        }

        .atendimento {
            margin-left: -30px;
        }

        .servicos {
            text-align: center;
        }
}
}