.secao-01-adm {
    display: flex;
    flex-direction: row;

    .s1adm-parte-principal {
        width: 80%;
        background-color: #fff !important;

        header {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            hr {
                border: none;
                width: 90%;
                height: 2px;
                border: 1px solid #B88B1B;
                animation:CresceDiminui 10s linear infinite;
            }
        }

        .s1admp-titulo {
            text-align: center;
            margin-top: 50px;
            font:30px 'Allerta'
        }

        main {
            padding: 20px;
            display: flex;
            margin-top: 40px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
    }
}


.simulacao-compra{
    background-color: #CF6300;
    border: none;
    color: #fff;
    height: 50px;
    width: 200px;
    margin-top:60px;
    border-radius: 40px;
    cursor: pointer;
}
