.pagina-cuidado-joias {
    background-color: #fff !important;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;

    .cd-joias-titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        width: 100%;

        > h1 {
            text-align: center;
            font:30px 'Allerta';
        }

        > hr {
            border: none;
            height: 1px;
            background-color: #000;
            width: 98%;
        }
    }

    main {
        display: flex;
    }
}