.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

    a:-webkit-any-link {
        cursor: pointer;
        text-decoration: none;
        color:#000;
      }
    
    .cabecalho-esquerda{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        margin-left: 40px;
        border-bottom: 1px solid black;
    } 
    
    .cabecalho-esquerda img{
        width: 16%;
       
    }
    
    .cabecalho-esquerda input{
        outline: none;
        width: 85%;
        border: none;
        cursor: pointer;
    }
    
    .cabecalho-esquerda h3{
        font-size: #908D8D;
        
    }
    
    .cabecalho-meio img{
        width: auto;
        height: 150px;
        cursor: pointer;
    }
    
    .cabecalho-direita{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px;
    }
    
    .cabecalho-direita img{
        width: auto;
        height: 30px;
        cursor: pointer;
        padding-left: 20px;
    }
    
    .cabecalho-direita .img-perfil{
        width: auto;
        height: 55px;
        cursor: pointer;
    }
    
    .cabecalho-direita button{
        border: none;
        background-color: #ffffff;
        color: #000000;
        cursor: pointer;
    }
    