    
    .pagina-pets {
        display: flex;
        flex-direction: column;
        gap:10px;
        width: 100%;
        height: auto;

        hr {
            margin: 10px;
        }
    }

    .produtos-pets {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        gap:20px;
    }

    .produto-ficha-s1 {
        width: 100%;
        gap:10px;

        img {
            width: 100vw;
        }
    }

    .produto-s2 {
        width: 70%;
    }